.selected { background-color: #CFD8DC !important; color: white; }
.bandas { margin: 0 0 2em 0; list-style-type: none; padding: 0; width: 15em; }
.bandas li { cursor: pointer; position: relative; left: 0; background-color: #EEE; margin: .5em; padding: .3em 0; height: 1.6em; border-radius: 4px; }
.bandas li.selected:hover { background-color: #BBD8DC !important; color: white; } 
.bandas li:hover { color: #607D8B; background-color: #DDD; left: .1em; } 
.bandas .text { position: relative; top: -3px; } 
.bandas .insignia { display: inline-block; font-size: small; color: white;
padding: 0.8em 0.7em 0 0.7em; 
background-color: #607D8B; 
line-height: 1em; 
position: relative; 
left: -1px;
top: -4px; 
height: 1.8em;
margin-right: .8em; 
border-radius: 4px 0 0 4px;
 }

 h1 { font-size: 1.2em; color: #999; margin-bottom: 0; } h2 { font-size: 2em; margin-top: 0; padding-top: 0; } nav a { padding: 5px 10px; text-decoration: none; margin-top: 10px; display: inline-block; background-color: #eee; border-radius: 4px; } nav a:visited, a:link { color: #607D8B; } nav a:hover { color: #039be5; background-color: #CFD8DC; } nav a.active { color: #039be5; }