<div *ngIf="banda">
    <h2>Información de {{banda.nombre}}!</h2>
    <label>nombre: </label>
    <input [(ngModel)]="banda.nombre" placeholder="nombre de la banda">
</div>
<button (click)="goBack()" >Regresar</button>