<h1>
{{titulo}}
</h1>

<div>
    
    <ul class ="bandas">
        <li 
        [class.selected]="bandaItem === banda"
        *ngFor="let bandaItem of bandas" 
        (click) ="seleccionar(bandaItem)"> 
        <span class="insignia">{{bandaItem.id}}</span> {{bandaItem.nombre}}
        </li>
    </ul>
</div>


